<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TrumpTube</title>
    <style>

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: #454545;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
   margin: 2rem;
}

h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-bottom: .5rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #404040;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size:1.2rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
}

svg {
  margin-top:2rem;
}
text {
  font: 10px sans-serif;
  text-anchor: middle;
}

    </style>
</head>

<body>
<h1>TrumpTube</h1>

<p>As <a href="http://mith.umd.edu/research/night-against-hate/" target="_blank">many of us</a> have recognized, it's time for us to <a href="http://www.motherjones.com/politics/2016/12/fight-like-hell-trump-racism-fake-news">fight like hell</a> to resist the rise of <span style="text-decoration: line-through;">trumpism</span> fascism in the US, and join the ranks of the ongoing global fight. TrumpTube is an attempt at rapid prototyping a useful framework for beginning our interpretations of the trolling phenomenon. For this particular example we went to the belly of the YouTube beast to extract language from the comment sections and begin the work of distant reading. We chose the Bubble Chart below for its simplicity in order to highlight the framework itself. The chart is formed from the top-50 most commonly used words in one single YouTube video (insert video here).</p>

<p>This rapid prototype is our closing exercise for a 3 day experiment in rapid prototyping sponsored by <a href="http://xpmethod.plaintext.in/">Columbia's Group for Experimental Methods in the Humanities</a> (#xpemthod) and <a href="http://www.ctp.bbk.ac.uk/" target="_blank">The Birbeck Center for Technology and Publishing</a>, held at the <a href="https://studio.cul.columbia.edu/" target="_blank">Studio@Butler</a> at Columbia University Libraries in New York City. On Monday, December 12, we built tests to help some of our #xpmethod graduate students on something we're calling Middlematch (you'll see). Yesterday we made Cemmento—A sort of #mincomp solution to the age-old problem of connecting your annotations to a "canonical" document on the internet. Today we leave you with TrumpTube. Hope it helps.</p>



<svg width="960" height="960"
  viewBox="0 0 960 960"
  preserveAspectRatio="xMidYMid meet"></svg>

<p>Built with <a href="http://d3js.org/">d3.js</a> and <a href="http://flask.pocoo.org/" target="_blank">Flask</a> by Martin Eve and Alex Gil. The code is openly available for your use <a href="https://github.com/MartinPaulEve/trumptube/">on Github</a>.

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width");

var format = d3.format(",d");

var color = d3.scaleOrdinal(d3.schemeCategory20c);

var pack = d3.pack()
    .size([width, width])
    .padding(1.5);

d3.csv("{{ url_for('static', filename='trumptube.csv') }}", function(d) {
  d.value = +d.value;
  if (d.value) return d;
}, function(error, classes) {
  if (error) throw error;

  var root = d3.hierarchy({children: classes})
      .sum(function(d) { return d.value; })
      .each(function(d) {
        if (id = d.data.id) {
          var id, i = id.lastIndexOf(".");
          d.id = id;
          d.package = id.slice(0, i);
          d.class = id.slice(i + 1);
        }
      });

  var node = svg.selectAll(".node")
    .data(pack(root).leaves())
    .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  node.append("circle")
      .attr("id", function(d) { return d.id; })
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d) { return color(d.package); });

  node.append("clipPath")
      .attr("id", function(d) { return "clip-" + d.id; })
    .append("use")
      .attr("xlink:href", function(d) { return "#" + d.id; });

  node.append("text")
      .attr("clip-path", function(d) { return "url(#clip-" + d.id + ")"; })
    .selectAll("tspan")
    .data(function(d) { return d.class.split(/(?=[A-Z][^A-Z])/g); })
    .enter().append("tspan")
      .attr("x", 0)
      .attr("y", function(d, i, nodes) { return 13 + (i - nodes.length / 2 - 0.5) * 10; })
      .text(function(d) { return d; });

  node.append("title")
      .text(function(d) { return d.id + "\n" + format(d.value); });
});

</script>

</body>
</html>